
<div class="right_col" role="main">
    <div class="">
         <div class="page-title">
        <div class="title_left">
               <a href="/"><i class="fa fa-home"></i>Başvuru</a> / <a href="">Index</a><br />
               <br />
               <br />
               <br />
              
              </div>
              </div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Sınav Başvurularınız<small></small></h2>
                        <a asp-controller="Sınav" asp-action="New" class="btn btn-primary float-right" style="background-color:green"><i class="fa fa-plus-circle"></i>Başvuru Oluştur</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <img class="kResim"/>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings" id="kullanıcıbilgi">
                                        <th class="column-title">Sınav</th>
                                        <th class="column-title">Unvan</th>
                                        <th class="column-title">Başvuru Tarihleri</th>
                                        <th class="column-title">Başvuru Son Durumu</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                              <tbody>
                                   
                                    
                                        <tr class="kullanıcı">
                                            <td class="kullanıcıbilgi"></td>
                                            <td></td>
                                             <td></td>
                                                 <td></td>
                                                     <td><a href="#" class="btn btn-sm btn-primary" style="background-color:black"> <i class="fa fa-cog"></i>Görüntüle</a></td>
                                        </tr>
                                    
                                </tbody>
                              
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


