
     <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3></h3>
              </div>

           
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title" > 
               
                    <h1 style="text-align:center"><strong style="text-align:center">Görevde Yükselme ve Unvan Değişikliği Sınavına Başvuru Formu</strong></h1>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                     <span class="section">Kullanıcı Bilgi</span>

                    <div id="wizard" class="form_wizard wizard_horizontal">
                      
                      <div id="step-1">
                        <form class="form-horizontal form-label-left"  method="post" asp-controller="Basvuru" asp-action="Detail">

                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"  id="tckimlik" for="first-name">T.C KİMLİK NO <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" id="first-name" required="required" class="form-control  ">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">AD <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" id="last-name" name="last-name" required="required" class="form-control ">
                            </div>
                          </div>c
                          <div class="form-group row">
                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">SOYAD</label>
                            <div class="col-md-6 col-sm-6 ">
                              <input id="middle-name" class="form-control col" type="text" name="middle-name">
                            </div>
                          </div>
                          <div class="form-group row">
                         <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">SİCİL NO</label>
                            
                            
                              
                                <div class="col-md-6 col-sm-6 ">
                              <input id="middle-name" class="form-control col" type="text" name="middle-name">
                            </div>
                           
                          </div>
                          <div class="form-group row">
                             <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Görev Yeri</label>
                            <div class="col-md-6 col-sm-6 ">
                        
                         <select class="select2_single form-control" tabindex="-1">
													<option></option>
													<option value="AK">Alaska</option>
													<option value="HI">Hawaii</option>
													<option value="CA">California</option>
													<option value="NV">Nevada</option>
											
												</select>

										<div class="form-group row">
                         
                            <div class="col-md-6 col-sm-6 ">
                        
                        </div>
                        </div>
                          </div>
                          </div>
                        </form>

                      </div>
                                   
                    <!-- End SmartWizard Content -->





                    <p style="text-align:center"><strong>KYK sisteminde öğrenim durumunuzu ve hizmet içi eğitimlerinizi kontrol etmeyi unutmayınız.</strong></p>
                    <!-- Tabs -->
                    <div id="wizard_verticle" class="form_wizard wizard_verticle">
                     
                        

                      <div id="step-11">
                     
                        <form class="form-horizontal form-label-left">

                          <span class="section">Öğrenim Durumu</span>

                          
											
										  <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name"> Bitirilen Okul <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                          
												<select class="select2_single form-control" tabindex="-1">
													<option></option>
													<option value="AK">Alaska</option>
													<option value="HI">Hawaii</option>
													<option value="CA">California</option>
													<option value="NV">Nevada</option>
													<option value="OR">Oregon</option>
													<option value="WA">Washington</option>
													<option value="AZ">Arizona</option>
													<option value="CO">Colorado</option>
													<option value="ID">Idaho</option>
													<option value="MT">Montana</option>
													<option value="NE">Nebraska</option>
													<option value="NM">New Mexico</option>
													<option value="ND">North Dakota</option>
													<option value="UT">Utah</option>
													<option value="WY">Wyoming</option>
													<option value="AR">Arkansas</option>
													<option value="IL">Illinois</option>
													<option value="IA">Iowa</option>
													<option value="KS">Kansas</option>
													<option value="KY">Kentucky</option>
													<option value="LA">Louisiana</option>
													<option value="MN">Minnesota</option>
													<option value="MS">Mississippi</option>
													<option value="MO">Missouri</option>
													<option value="OK">Oklahoma</option>
													<option value="SD">South Dakota</option>
													<option value="TX">Texas</option>
												</select>
										
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">  Okul Süresi<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                              <input type="text" id="last-name2" name="last-name" required="required" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Sınava Katılmak İstenilen Unvan / Branş</label>
                            <div class="col-md-6 col-sm-6">
                      
												<select class="select2_single form-control" tabindex="-1">
													<option></option>
													<option value="AK">Alaska</option>
													<option value="HI">Hawaii</option>
													<option value="CA">California</option>
													<option value="NV">Nevada</option>
													<option value="OR">Oregon</option>
													<option value="WA">Washington</option>
													<option value="AZ">Arizona</option>
													<option value="CO">Colorado</option>
													<option value="ID">Idaho</option>
													<option value="MT">Montana</option>
													<option value="NE">Nebraska</option>
													<option value="NM">New Mexico</option>
													<option value="ND">North Dakota</option>
													<option value="UT">Utah</option>
													<option value="WY">Wyoming</option>
													<option value="AR">Arkansas</option>
													<option value="IL">Illinois</option>
													<option value="IA">Iowa</option>
													<option value="KS">Kansas</option>
													<option value="KY">Kentucky</option>
													<option value="LA">Louisiana</option>
													<option value="MN">Minnesota</option>
													<option value="MS">Mississippi</option>
													<option value="MO">Missouri</option>
													<option value="OK">Oklahoma</option>
													<option value="SD">South Dakota</option>
													<option value="TX">Texas</option>
												</select>
									

                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">Sınav esnasında yardıma ihtiyacınızın bulunup bulunmadığı(Engelliler İçin)</label>
                            <div class="col-md-6 col-sm-6">
                              <div id="gender2" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                  <input type="radio" name="gender" value="male" class="join-btn"> Evet
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                  <input type="radio" name="gender" value="Evet" class="join-btn" checked=""> Hayır
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
               
                       
                            <div class="col-md-6 col-sm-6">
                
                            </div>
                          </div>

                        </form>
                      </div>
                      <div id="step-22">
         
                        <p style="text-align:center"><strong>  Başvuruda bulunduğum ve katılmaya hak kazanacağım görevde yükselme/unvan değişikliği sınavı için daha sonra belirlenecek banka hesap numarasını sınav ücretini tarafınca yatıracağıma herhangi bir nedenle sınava katılmadığım takdirde kesilen sınav ücreti bedelinin iade edilmeyeceğini kabul ediyorum.</strong><p></p>
                       
                                                     <input type="checkbox" id="checkboxAyni" /><label for="checkboxOkudum" style="text-align:center">Formdaki açıklamaları okudum, bilgileri eksiksiz ve tam olarak doldurdum. </label>
              
                    <!-- End SmartWizard Content -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>        
        </
        </div>       
            </div>
        </div>
        
   